// Esto es opcional, si no se define quederá el color 
// predeterminado en la página:
$color-base: #2d2b74;
$color-secundario: #b22234;

// Colores de las redes sociales:
$color-whatsapp: #00e676;
$color-facebook: #1877f2;
$color-twitter: #1da1f2;
$color-youtube: #ff0000;
$color-pinterest: #cb2027;
$color-linkedin: #0b66c3;
$color-skype: #00aff0;
$color-instagram: #c82767;
